/node_modules
/public/hot
/public/perizinan
/public/reimbursement
/public/shift
/public/lembur
/public/uploads
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.zip
/data_pegawai

custom-sql.txt
/tunasinti.com

