/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.zip

/app/Http/Controllers/Api/AuthController.php
/app/Http/Controllers/Api/CutiApiController.php
/app/Http/Controllers/Api/LemburApiController.php
/app/Http/Controllers/Api/PayrollApiController.php
/app/Http/Controllers/Api/PengumumanApiController.php
/app/Http/Controllers/Api/PerusahaanApiController.php
/app/Http/Controllers/Api/ReimbursementApiController.php
/app/Http/Controllers/Api/ShiftApiController.php
/app/Http/Controllers/Api/UserApiController.php
custom-sql.txt
/tunasinti.com

